{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="active item">
            <img class="img-responsive" src={% static "images/Pravilno-hranim_1.jpg" %}>
            <div class="carousel-caption">
                <p class="carusel-discription">Правильно храним!</p>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src={% static "images/sl1.jpg" %}>
            <div class="carousel-caption">
                <p class="carusel-discription">Заботимся о качестве!</p>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src={% static "images/sl2.jpg"%}>
            <div class="carousel-caption">
                <p class="carusel-discription">Доставляем вовремя!</p>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src={% static "images/rev3.jpg" %}>
            <div class="carousel-caption">
                <p class="carusel-discription">Надежно пакуем!</p>
            </div>
        </div>
    </div>
<!-- Навигационные элементы -->
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
<div class="container description">
    <h2><br>О нас<br></h2>
    <img class="pull-left text_image" src="{%  static "images/Risunok146-285x300.png" %}"  height="50" width="53">
    <p>
         Компания STEEL PRO LTD представлена в двух сегментах на рынке металла: нержавеющие стали (1 сорт, 2 сорт) и легированные и специальные стали. Главный офис компании и основной склад находятся в Вильнюсе. Но благодаря развитой партнерской сети мы имеем возможность доставить купленный товар в любое место Евросоюза и Таможенного союза.
        <br><br>
        В сегменте нержавеющего металла компания STEEL PRO LTD предлагает широкую линейку продуктов как в 1м сорте, так и во 2м сорте, а также услуги, связанные с порезкой плоского нержавеющего проката, а именно: рулонов, листов. Таким образом в качестве готового продукта мы предлагаем нержавеющие ленты, листы, полосы либо форматки, согласно технического задания клиента. В случае необходимости или по желанию клиента, рулоны и листы могут быть покрыты защитной пленкой (плотность, толщина и вид пленки также подбирается согласно требований клиента).
        <br><br>
        Главными преимуществами нашей фирмы являются:
        <br><br>
        – сроки реализации заказа<br>
        – возможность реализации небольших партий<br>
        – выполнение услуг не только на предоставляемом материале, а также на собственном.<br>
    </p>
    <br>
    <br>
    <img class="pull-left text_image" src="{%  static "images/Risunok142-281x300.png" %}"  height="50" width="53">
    <p>
        В сегменте легированных и специальных сталей деятельность компании STEEL PRO LTD сосредоточена на импорте. Своим клиентам мы предлагаем широкий ассортимент марок сталей от производителей России и Украины.
        <br><br>
        Приглашаем вас более подробно ознакомиться со спектром предлагаемых нами продуктов и услуг на нашем сайте в разделе “Предложение” либо связаться с нами с помощью раздела “Контакты”!
        <br><br>
        Будем рады ответить на все ваши вопросы и начать Наше сотрудничество!
    </p>
    <h2>Предложение<br></h2><br>
    <div class="row sentence_image">
        <div class="col-md-6">
            <div class="thumbnail text-center sentence_image" style="width: 407px">
                    <img class="img-responsive"  src="{% static "images/produkty-ze-stali-1.jpg" %}">
                    <div class="caption">
                        <a style="color: #00ccff; font-size: 18pt;" href="/produkty/">
                            <strong>ПРОДУКТЫ ИЗ СТАЛИ</strong>
                        </a>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail text-center sentence_image" style="width: 407px">
            <img class="img-responsive"  src="{% static "images/uslugi.jpg" %}">
                    <div class="caption">
                        <a style="color: #00ccff; font-size: 18pt;" href="/uslugi/">
                            <strong>УСЛУГИ</strong>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <h2>Наши партнеры<br></h2><br>
    <div class="row sentence_image">
        <div class="col-md-4 text-center">
            <img   src="{% static "images/l2.jpg" %}" width="180" height="113">
        </div>
        <div class="col-md-4 text-center">
            <img  src="{% static "images/logo-1.jpg" %}" width="215" height="113">
        </div>
        <div class="col-md-4 text-center">
            <img  src="{% static "images/l222.jpg" %}" width="180" height="113">
        </div>
    </div>
</div>

{% endblock %}