{% load staticfiles %}
<!DOCTYPE html>
	<HTML lang="en">
		<HEAD>
		<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
<!-- 		<link rel="stylesheet" type="text/css" href="styles.css"> -->
		<title>Logiset UAB</title>
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="{% static "js/npm.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
		<script type="text/javascript">
		$(document).ready(function ()
		{
		$('.alert').alert();
		});
		</script>
		<style type="text/css">
            body{
                font-family: "Raleway", sans-serif;;
                font-size: 16px;
            }
			.dropdown{
				width: 130px;
				font-size: 16px;
			}
			.dropdown-toggle{
				margin-top: 8px;
{#                box-shadow: 0 0 3px rgba(0,0,0,0.5);#}
                text-align: right;
			}
            .navbar-brand{
                margin-top: -5px;
            }
			H1{
				color: white;
				text-align: center;
				font-size: 70px;
			}
			.podval{
				background-color: #161c2b;
				color: white;
				font-size: 15px;
                margin-top: 75px;
                padding-top: 10px;
                font-family: "Times New Roman";
			}
			.signature{
				font-size: 13px;
			}
            h2{
                color: #33cccc;
                font-size: 60px;
                text-align: center;
            }
            .carousel{
                box-shadow:  0 10px 20px rgba(0,0,0,0.5);;
            }
            .description{
                font-family: "Times New Roman";
            }
            .carusel-discription{
                font-family: "Calibri";
                font-size: 80px;
            }
            .text_image{
                margin-right: 15px;
            }
            .sentence_image{
                margin-left: 59px;
            }

            .logo{
                margin-top: -5px;
            }
            .second-level{
                width: 350px;
            }
            .left-navigation{
                font-size: 20px;
                width: 220px;
            }
            .btn-group{
                margin-top: 10px;
            }
            .discript-2{
                font-size: 20px;
                text-align: center;
                margin-top: 10px
            }
            .table-description{
                font-size: 18px;
                height: 20px;
            }
            .navbar{
                opacity: 0.85;
                background-color: #303030;
                padding-bottom: 3px;
            }
            .navbar-default .navbar-nav > li > a:hover{
                color: white;
            }
            .navbar-default .navbar-nav > li > a {
                color: #A6A6A6;
            }
            .dropdown-submenu {
                position: relative;
            }
            .navbar-default {
                border-color: #262626;
            }
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

		</style>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		</HEAD>  
		<BODY> 
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/"><img class="logo" src="{% static "images/logo.png" %}"  height="50"></a>
						</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="/" class="dropdown-toggle">О НАС</a>
								</li>

                                <li class="dropdown" style="width: 180px;">
                                    <a id="dLabel" class="dropdown-toggle" data-toggle="dropdown" data-target="#" >
                                        ПРЕДЛОЖЕНИЕ
                                        <span class="caret"></span>

                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        <li class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="/uslugi/">УСЛУГИ</a>
                                            <ul class="dropdown-menu second-level">
                                                <li><a tabindex="-1" href="/uslugi/razmotka/">РАЗМОТКА РУЛОНОВ</a></li>
                                                <li><a tabindex="-1" href="/uslugi/poperechnaja/">ПОПЕРЕЧНАЯ РАЗМОТКА РУЛОНОВ В ЛИСТЫ</a></li>
                                                <li><a tabindex="-1" href="/uslugi/prodolnaja/">ПРОДОЛЬНАЯ РАЗМОТКА РУЛОНОВ В ЛИСТЫ</a></li>
                                                <li><a tabindex="-1" href="/uslugi/pokritie/">ПОКРЫТИЕ ЗАЩИТНОЙ ПЛЕНКОЙ</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="/produkty/">МЕТАЛЛ</a>
                                            <ul class="dropdown-menu second-level">
                                                <li><a tabindex="-1" href="/produkty/nerz/">НЕРЖАВЕЮЩАЯ СТАЛЬ</a></li>
                                                <li><a tabindex="-1" href="/produkty/legir/">ЛЕГИРОВАННЫЕ И СПЕЦИАЛЬНЫЕ СТАЛИ</a></li>
                                                <li><a tabindex="-1" href="/produkty/titan/">ТИТАН И НИКЕЛЕВЫЕ СПЛАВЫ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

{#                                <li class="dropdown">#}
{#									<a href="/news/" class="dropdown-toggle" data-toggle="dropdown">НОВОСТИ<b class="caret"></b></a>#}
{#									<ul class="dropdown-menu">#}
{#										<li><a href="/news/">Общие условия продажи</a></li>#}
{#									</ul>#}
{#								</li>#}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">КАЧЕСТВО<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/first_grade/">1Й СОРТ</a></li>
										<li><a href="/second_grade/">2Й СОРТ</a></li>
									</ul>
								</li>
{#                                <li class="dropdown">#}
{#									<a href="/gallery/" class="dropdown-toggle">ГАЛЕРЕЯ</a>#}
{#								</li>#}
                                <li class="dropdown">
									<a href="/contact/" class="dropdown-toggle">КОНТАКТЫ</a>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>
			</nav>


    {% block content %}{% endblock %}

	<div class="podval">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img src={% static "images/logo.png" %}>
				</div>
				<div class="col-md-3">
					<p>
						LOGISET UAB<br>
						<br>
						E-mail : info@logiset.lt<br>
						Tel.: +37068748905<br>
					</p>
				</div>
				<div class="col-md-3">
					<p>
						Address:<br>
						Kirtimų g. 47<br>
						LT02244 Vilnius<br>
						Lithuania<br>
					</p>
				</div>
				<div class="col-md-3">
					<p>
						Company code: 304149418<br>
						VAT code: LT100009862518<br>
						Bank: AB SEB Bankas<br>
						Bank code: 70440 SWIFT: CBVILT2X<br>
						Account No.: LT43 7044 0600 0806 6523<br>
					</p>
				</div>
			</div>
			<div class="row signature">
				<div class="col-md-3">
				</div>
				<div class="col-md-9">
					<p>
						Сайт создан Стесиком Глебом RainBelarus@gmail.com, +375(29)1211445
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $('.smoothScroll').click(function(event) {
            event.preventDefault();
            var href=$(this).attr('href');
            var target=$(href);
            var top=target.offset().top;
            $('html,body').animate({
              scrollTop: top
            }, 1000);
            });
    </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>
		$('.carousel').carousel({
		iterval: 4500
		})
	</script>
		</BODY>  
	</HTML> ​