{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}" xmlns="http://www.w3.org/1999/html">
<div class="container">
    <div class="row" style="padding-top: 75px">
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2309.751334160814!2d25.146019515597857!3d54.62598688026713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ddecc8b8b81485%3A0xfa5e986507ac14d9!2zS2lydGltxbMgZy4gNDcsIFZpbG5pdXMgMDIzMDAsINCb0LjRgtCy0LA!5e0!3m2!1sru!2sby!4v1522266057598" style="border:0" allowfullscreen="" width="550" height="350" frameborder="0"></iframe>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5">
            <p>
                <strong>LOGISET UAB</strong><br>
                <br>
                Эл. почта : info@logiset.lt<br>
                Тел.: +37068748905<br>
                <br>
                Адрес:<br>
                Киртиму у. 47<br>
                LT02244 Вильнюс<br>
                Литва<br>
                <br>
                Код предприятии: 304149418<br>
                Код НДС: LT100009862518<br>
                Банк: AB SEB Bankas<br>
                Код банка: 70440 СВИФТ: CBVILT2X<br>
                Номер счета: LT43 7044 0600 0806 6523<br>
            </p>
        </div>
    </div>
</div>


{% endblock %}