{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}" xmlns="http://www.w3.org/1999/html">
<div class="container" style="margin-top: 50px">
<strong>STEEL PRO LTD</strong> поставляет продукцию в соответствии с самыми высокими требованиями к качеству в отрасли. Материалы поставляются вместе с сертификатом качества завода изготовителя в соответствии с <strong>EN 10204 3.1 или 3.2</strong>. Кроме того, в случае необходимости, могут быть проведены дополнительные испытания свойств металлопроката, результаты которых будут подтверждены заключением специально аккредитованной лаборатории.
</div>
{% endblock %}