{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row"></div>
        {% for item in case_list %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive"  src="{{ item.image.url }}" alt="{{ item.headline_gallery }}">
                    <div class="caption" style="font-size: 18pt">
                        <p>{{ item.gallery_description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}