{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}" xmlns="http://www.w3.org/1999/html">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
            <div class="btn-group">
                <form action="/produkty/nerz/">
                    <button type="submit"  class="btn btn-primary left-navigation">Нержавеющая сталь</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/produkty/titan/">
                    <button type="submit" class="btn btn-primary left-navigation">Титан и никелевые <br>сплавы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/produkty/legir/">
                    <button type="submit"  class="btn btn-primary left-navigation">Легированные и<br>специальные сплавы</button>
                </form>
            </div>
        </div>
        <div class="col-md-9 description" style="margin-top: 10px">
            <p>
                Фирма <strong>STEEL PRO LTD </strong>осуществляет оптовые поставки легированных и специальных сталей в форме прутков (кругов) и листов. Как правило, это высококачественная сталь от производителей из России и Украины.<br>
            Диапазон диаметров поставляемого круга от 10мм до 450мм, листа от 2мм до 120мм. Возможна порезка кругов и листов на необходимую длину/ширину. Важным преимуществом нашего предприятия является возможность поставки небольших партий от 300 кг.Так как наличие материала и сортамент постоянно обновляются, просим вас связаться с нами <a href="mailto:info@logiset.lt">info@logiset.lt</a> для уточнения наличия и условий поставки необходимого вам проката!<b> Легированная сталь</b> – это сталь, которая кроме обычных примесей и углерода, содержит другие элементы, специально добавляемые в определенных количествах, которые обеспечивают необходимые механические и физические свойства.Для легирования стали применяют такие элементы, как: хром, никель, медь, азот, ванадий и другие.
            </p>
            <br>
            <img class="alignright wp-image-324 size-large" src="{% static "images/stranitsa-legirovannye-spetsialnye-stali-1024x522.jpg" %}" sizes="(max-width: 900px) 100vw, 900px" width="900" height="459"><p></p>
<p>Легированная сталь, в зависимости от количества в ней легирующих элементов, делится на:<br>
<b>– низколегированную (легирующих элементов до 2,5&nbsp;%)<br>
– среднелегированную (от 2,5 до 10&nbsp;%)<br>
– высоколегированную (от 10 до 50&nbsp;%)</b></p>
<p>По назначению легированная сталь делится на:<br>
<b>– конструкционную<br>
– инструментальную<br>
– специальную стали</b></p>
<p>Из специальных сталей можно выделить следующие:<br>
<b>– жароупорные<br>
– износоустойчивые<br>
– быстрорежущие<br>
– электротехнические стали</b></p>
<p>Мы предлагаем легированные и специальные стали в форме прутков и листов. Как правило это высококачественная сталь от производителей из России и Украины.</p>
<p><strong>Убедительно просим вас связаться с нами для уточнения сортамента и условий поставки необходимого вам проката</strong>.</p>
<p>Ниже приведены некоторые марки легированных сталей:</p>
<table class="table table-striped table-bordered table-description">
<tbody>
<tr>
<td colspan="2" width="342"><strong>Евронорма (</strong><strong>EN)</strong></td>
<td width="123"><strong>Польша (</strong><strong>PN)</strong></td>
<td width="178"><strong>ГОСТ</strong></td>
</tr>
<tr>
<td colspan="4" width="643"><strong>Жаропрочная сталь</strong></td>
</tr>
<tr>
<td width="155">10CrMo9-10</td>
<td width="187">1.7380</td>
<td width="123"></td>
<td width="178">10 Х2 М</td>
</tr>
<tr>
<td width="155">13CrMo4-4</td>
<td width="187">1.7335</td>
<td width="123"></td>
<td width="178">13 ХМ</td>
</tr>
<tr>
<td width="155">14MoV6-3</td>
<td width="187">1.7715</td>
<td width="123"></td>
<td width="178">12 Х1МФ</td>
</tr>
<tr>
<td width="155">14MoV6-3</td>
<td width="187">1.7715</td>
<td width="123"></td>
<td width="178">14 ХМФ</td>
</tr>
<tr>
<td width="155">13CrMo4-5</td>
<td width="187">1.7335</td>
<td width="123"></td>
<td width="178">15 ХМ</td>
</tr>
<tr>
<td width="155">15Mo3</td>
<td width="187">1.5415</td>
<td width="123"></td>
<td width="178">15 М</td>
</tr>
<tr>
<td width="155">X20CrMoV12-1</td>
<td width="187">1.4922</td>
<td width="123"></td>
<td width="178">20 Х11 МНФ</td>
</tr>
<tr>
<td colspan="4" width="643"><strong>Рессорно-пружинная сталь</strong></td>
</tr>
<tr>
<td width="155">38Si7</td>
<td width="187">1.5023</td>
<td width="123"></td>
<td width="178">38 С2 А</td>
</tr>
<tr>
<td width="155">50CrV4</td>
<td width="187">1.8159</td>
<td width="123"></td>
<td width="178">50 ХГФА</td>
</tr>
<tr>
<td width="155">51CrMoV4</td>
<td width="187">1.7701</td>
<td width="123"></td>
<td width="178">52 ХГМФА</td>
</tr>
<tr>
<td width="155">54SICr6</td>
<td width="187">1.7102</td>
<td width="123"></td>
<td width="178">55 ХС2 А</td>
</tr>
<tr>
<td width="155">55Cr3</td>
<td width="187">1.7176</td>
<td width="123"></td>
<td width="178">55 ХГА</td>
</tr>
<tr>
<td width="155">60Si7</td>
<td width="187">1.0961</td>
<td width="123">60S2</td>
<td width="178">60 С2</td>
</tr>
<tr>
<td width="155">60SiCR7</td>
<td width="187">1.7108</td>
<td width="123"></td>
<td width="178">60 С2 ХГА</td>
</tr>
<tr>
<td colspan="4" width="643"><strong>Быстрорежущая сталь</strong></td>
</tr>
<tr>
<td width="155">S2-9-2</td>
<td width="187">1.3348</td>
<td width="123"></td>
<td width="178">Р2 М9-МП</td>
</tr>
<tr>
<td width="155">S2-10-1-8</td>
<td width="187">1.3247</td>
<td width="123"></td>
<td width="178">Р2 М10 К8-МП</td>
</tr>
<tr>
<td width="155">S6-5-2</td>
<td width="187">1.3343</td>
<td width="123"></td>
<td width="178">Р6 М5-МП</td>
</tr>
<tr>
<td width="155">S6-5-2-5</td>
<td width="187">1.3243</td>
<td width="123"></td>
<td width="178">Р6 М5 К5-МП</td>
</tr>
<tr>
<td width="155">S6-5-3</td>
<td width="187">1.3344</td>
<td width="123"></td>
<td width="178">Р6 М5 Ф3-МП</td>
</tr>
<tr>
<td width="155">S10-4-3-10</td>
<td width="187">1.3207</td>
<td width="123"></td>
<td width="178">Р10 М4 Ф3 К10-МП</td>
</tr>
<tr>
<td width="155">S12-1-4-5</td>
<td width="187">1.3202</td>
<td width="123"></td>
<td width="178">Р12 Ф4 К5-МП</td>
</tr>
<tr>
<td colspan="4" width="643"><strong>Конструкционная сталь</strong></td>
</tr>
<tr>
<td width="155">13Mn6</td>
<td width="187">9MnSi5</td>
<td width="123">09G2S</td>
<td width="178">09Г2С</td>
</tr>
<tr>
<td width="155">14 NiCrMo1-3-4</td>
<td width="187">1.6657</td>
<td width="123"></td>
<td width="178">14 ХН3 М</td>
</tr>
<tr>
<td width="155">16 МnCr5</td>
<td width="187">1.7131</td>
<td width="123"></td>
<td width="178">16 ХГ</td>
</tr>
<tr>
<td width="155">16Mn CrB5</td>
<td width="187">1.7160</td>
<td width="123"></td>
<td width="178">16XГР</td>
</tr>
<tr>
<td width="155">16NiCr4</td>
<td width="187">1.5714</td>
<td width="123"></td>
<td width="178">16 ХГН</td>
</tr>
<tr>
<td width="155">S235J2G4</td>
<td width="187">1.0117</td>
<td width="123"></td>
<td width="178">17 Г1 С</td>
</tr>
<tr>
<td width="155">15NiCr13</td>
<td width="187">1.5752</td>
<td width="123"></td>
<td width="178">17 ХН3</td>
</tr>
<tr>
<td width="155">18CrMo4</td>
<td width="187">1.7243</td>
<td width="123"></td>
<td width="178">18 ХГМ</td>
</tr>
<tr>
<td width="155">18CrNiMo7-6</td>
<td width="187">1.6587</td>
<td width="123"></td>
<td width="178">18 Х2 Н2 М</td>
</tr>
<tr>
<td width="155">20MoCr3</td>
<td width="187">1.7320</td>
<td width="123"></td>
<td width="178">20 ХМ</td>
</tr>
<tr>
<td width="155">20MoCr2-2</td>
<td width="187">1.6523</td>
<td width="123"></td>
<td width="178">20 ХГНМ</td>
</tr>
<tr>
<td width="155">25CrMo4</td>
<td width="187">1.7218</td>
<td width="123"></td>
<td width="178">25 ХМ</td>
</tr>
<tr>
<td width="155">34Cr4</td>
<td width="187">1.7033</td>
<td width="123"></td>
<td width="178">34 Х</td>
</tr>
<tr>
<td width="155">34CrNiMo6</td>
<td width="187">1.6582</td>
<td width="123"></td>
<td width="178">34 Х2 Н2 М</td>
</tr>
<tr>
<td width="155">36CrNiMo4</td>
<td width="187">1.6511</td>
<td width="123"></td>
<td width="178">36 ХНМ</td>
</tr>
<tr>
<td width="155">36NiCrMo16</td>
<td width="187">1.6773</td>
<td width="123"></td>
<td width="178">36 Х2 Н4 МА</td>
</tr>
<tr>
<td width="155">42CrMo4</td>
<td width="187">1.7225</td>
<td width="123"></td>
<td width="178">42 ХМ</td>
</tr>
<tr>
<td width="155">50CrV4</td>
<td width="187">1.8159</td>
<td width="123"></td>
<td width="178">50 ХГФ</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
        </div>
    </div>
</div>

{% endblock %}