{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
           <div class="btn-group">
                <form action="/produkty/nerz/">
                    <button type="submit"  class="btn btn-primary left-navigation">Нержавеющая сталь</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/produkty/titan/">
                    <button type="submit" class="btn btn-primary left-navigation">Титан и никелевые <br>сплавы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/produkty/legir/">
                    <button type="submit"  class="btn btn-primary left-navigation">Легированные и<br>специальные сплавы</button>
                </form>
            </div>
        </div>
        <div class="col-md-9 description" style="margin-top: 10px">
            <p>
                <strong>Нержавеющая сталь</strong> – это сталь, которая обладает высокой коррозионной устойчивостью в агрессивных средах (морская и речная атмосфера, воздух, кислоты, растворы солей и т.д.). В нержавеющей стали содержится как минимум 10,5% хрома. Также для повышения коррозионных свойств в нержавеющую сталь могут добавляться такие элементы, как: никель, молибден, кремний, титан и ниобий.
                <strong>STEEL PRO LTD</strong> предлагает широкую гамму нержавеющих марок сталей. Ниже приведены некоторые из них. Если в ниже приведенной таблице вы не нашли необходимую вам марку, просим вас связаться с нами.
            </p>
            <br>
            <table class="table table-striped table-bordered table-description">
                <tr>
                    <td width="108"><strong>Евронорма (</strong><strong>EN)</strong></td>
                    <td width="96"><strong>США</strong><strong>&nbsp; (AISI)</strong></td>
                    <td width="132"><strong>ГОСТ</strong></td>
                    <td width="108"><strong>Польша (</strong><strong>PN)</strong></td>
                    <td width="167"><strong>Германия (</strong><strong>DIN)</strong></td>
                </tr>
                <tr>
                    <td width="108">1.4000</td>
                    <td width="96">410S</td>
                    <td width="132">08 Х13</td>
                    <td width="108">&nbsp;0H13</td>
                    <td width="167">Х6 Cr 13</td>
                </tr>
                <tr>
                    <td width="108">1.4003</td>
                    <td width="96">410 (3Cr12)</td>
                    <td width="132"></td>
                    <td width="108"></td>
                    <td width="167">X2 CrNi 12</td>
                </tr>
                <tr>
                    <td width="108">1.4006</td>
                    <td width="96">410</td>
                    <td width="132">10X13</td>
                    <td width="108">&nbsp;1H13</td>
                    <td width="167">X10 Cr13</td>
                </tr>
                <tr>
                    <td width="108">1.4016</td>
                    <td width="96">430</td>
                    <td width="132">12X17</td>
                    <td width="108">&nbsp;H17</td>
                    <td width="167">X6 Cr17</td>
                </tr>
                <tr>
                    <td width="108">1.4021</td>
                    <td width="96">420</td>
                    <td width="132">20X13</td>
                    <td width="108">&nbsp;2H13</td>
                    <td width="167">Х20 Cr 13</td>
                </tr>
                <tr>
                    <td width="108">1.4028</td>
                    <td width="96">420</td>
                    <td width="132">30X13</td>
                    <td width="108">&nbsp;3H13</td>
                    <td width="167">Х30 Cr 13</td>
                </tr>
                <tr>
                    <td width="108">1.4031</td>
                    <td width="96">420</td>
                    <td width="132">40X13</td>
                    <td width="108">&nbsp;4H13</td>
                    <td width="167">Х40 Cr 13</td>
                </tr>
                <tr>
                    <td width="108">1.4034</td>
                    <td width="96">420</td>
                    <td width="132">46X13</td>
                    <td width="108">&nbsp;4H13</td>
                    <td width="167">Х46 Cr 13</td>
                </tr>
                <tr>
                    <td width="108">1.4057</td>
                    <td width="96">431</td>
                    <td width="132">20 Х17 Н2</td>
                    <td width="108"></td>
                    <td width="167">X20 CrNi 17-2</td>
                </tr>
                <tr>
                    <td width="108">1.4113</td>
                    <td width="96">434</td>
                    <td width="132"></td>
                    <td width="108"></td>
                    <td width="167">X6 CrMo 17-<a href="http://www.steelnumber.com/en/steel_composition_eu.php?name_id=63">1</a></td>
                </tr>
                <tr>
                    <td width="108">1.4509</td>
                    <td width="96">441</td>
                    <td width="132"></td>
                    <td width="108"></td>
                    <td width="167">X2 CrTiNb 18</td>
                </tr>
                <tr>
                    <td width="108">1.4510</td>
                    <td width="96">439 (430Ti)</td>
                    <td width="132">08 Х17 Т</td>
                    <td width="108"></td>
                    <td width="167">Х6 СrTi 17</td>
                </tr>
                <tr>
                    <td width="108">1.4512</td>
                    <td width="96">409</td>
                    <td width="132">08 Х12 Т1</td>
                    <td width="108"></td>
                    <td width="167">X6 CrTi 12</td>
                </tr>
                <tr>
                    <td width="108">1.4520</td>
                    <td width="96">430Ti</td>
                    <td width="132">02 Х17 Т</td>
                    <td width="108"></td>
                    <td width="167">X2CrTi17</td>
                </tr>
                <tr>
                    <td width="108">1.4521</td>
                    <td width="96">444</td>
                    <td width="132">02 Х18 М2 БТ</td>
                    <td width="108"></td>
                    <td width="167">X2 CrMoTi 18-2</td>
                </tr>
                <tr>
                    <td width="108">1.4526</td>
                    <td width="96">436</td>
                    <td width="132">12X17MБ</td>
                    <td width="108"></td>
                    <td width="167">Х2 СrMoNb</td>
                </tr>
                <tr>
                    <td width="108">1.4301</td>
                    <td width="96">304</td>
                    <td width="132">08 Х18 Н10</td>
                    <td width="108">&nbsp;0H18N9</td>
                    <td width="167">X5 CrNi 18-10</td>
                </tr>
                <tr>
                    <td width="108">1.4306</td>
                    <td width="96">304 L</td>
                    <td width="132">03 Х18 Н11</td>
                    <td width="108">&nbsp;0H18N10</td>
                    <td width="167">X2 CrNi 19-11</td>
                </tr>
                <tr>
                    <td width="108">1.4310</td>
                    <td width="96">301</td>
                    <td width="132">15X17H7</td>
                    <td width="108"></td>
                    <td width="167">X12 CrNi 17-7</td>
                </tr>
                <tr>
                    <td width="108">1.4372</td>
                    <td width="96">201</td>
                    <td width="132"></td>
                    <td width="108"></td>
                    <td width="167">–</td>
                </tr>
                <tr>
                    <td width="108">1.4373</td>
                    <td width="96">202</td>
                    <td width="132">12X17 Г9 АН4</td>
                    <td width="108"></td>
                    <td width="167">Х12 CrMnNiN 18-9-5</td>
                </tr>
                <tr>
                    <td width="108">1.4404</td>
                    <td width="96">316 L</td>
                    <td width="132">03 Х17 Н13 М2</td>
                    <td width="108">&nbsp;00H17N13M2</td>
                    <td width="167">X2 CrNiMo 17-12-2</td>
                </tr>
                <tr>
                    <td width="108">1.4435</td>
                    <td width="96">–</td>
                    <td width="132">03 Х17 Н14 М3</td>
                    <td width="108"></td>
                    <td width="167">X2 CrNiMo 18-4-3</td>
                </tr>
                <tr>
                    <td width="108">1.4438</td>
                    <td width="96">317L</td>
                    <td width="132">03 Х19 Н13 М3</td>
                    <td width="108"></td>
                    <td width="167">X2 18-5-4</td>
                </tr>
                <tr>
                    <td width="108">1.4539</td>
                    <td width="96">904L</td>
                    <td width="132">06 ХН28 МДТ</td>
                    <td width="108">&nbsp;00H22N24M4TCu</td>
                    <td width="167">X1 NiCrMoCu 25-20-5</td>
                </tr>
                <tr>
                    <td width="108">1.4541</td>
                    <td width="96">321</td>
                    <td width="132">08 Х18 Н12 Т</td>
                    <td width="108">&nbsp;1H18N9T</td>
                    <td width="167">Х6 CrNiTi 18-10</td>
                </tr>
                <tr>
                    <td width="108">1.4332</td>
                    <td width="96">309L</td>
                    <td width="132">03 Х24 Н13 Г2 С</td>
                    <td width="108"></td>
                    <td width="167">Х2 CrNi 24-12</td>
                </tr>
                <tr>
                    <td width="108">1.4833</td>
                    <td width="96">309</td>
                    <td width="132">20 Х23 Н13</td>
                    <td width="108"></td>
                    <td width="167">X7 CrNi 23-14</td>
                </tr>
                <tr>
                    <td width="108">–</td>
                    <td width="96">309S</td>
                    <td width="132">08X23H13</td>
                    <td width="108"></td>
                    <td width="167">–</td>
                </tr>
                <tr>
                    <td width="108">1.4841</td>
                    <td width="96">314</td>
                    <td width="132">20 Х25 Н20 С2</td>
                    <td width="108">&nbsp;H25N20S2</td>
                    <td width="167">X56 CrNiSi 25-20</td>
                </tr>
                <tr>
                    <td width="108">1.4843</td>
                    <td width="96">310</td>
                    <td width="132">20 Х23 Н18</td>
                    <td width="108"></td>
                    <td width="167">X16 CrNi 25-20</td>
                </tr>
                <tr>
                    <td width="108">1.4845</td>
                    <td width="96">310S</td>
                    <td width="132">10 Х23 Н18</td>
                    <td width="108"></td>
                    <td width="167">X12 CrNi 25-20</td>
                </tr>
                <tr>
                    <td width="108">1.4878</td>
                    <td width="96">321H</td>
                    <td width="132">12 Х18 Н10 Т</td>
                    <td width="108"></td>
                    <td width="167">X12 CrNiTi 18-9</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}