{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        {% for item in case_list %}
            <H3 class="text-center">{{ item.headline_news }}</H3>
            <div class="thumbnail" style="min-height: 260px;">
                <div class="img-thumbnail pull-left" style="margin-right: 10px">
                    <img  src="{{ item.image.url }}" alt="{{ item.headline_news }}" height="240" width="240">
                </div>
            <p style="padding-left: 5px;">&nbsp&nbsp&nbsp&nbsp{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}