{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
            <div class="btn-group">
                <form action="/uslugi/razmotka/">
                    <button type="submit" class="btn btn-primary left-navigation">Размотка рулонов</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/poperechnaja/">
                    <button type="submit" class="btn btn-primary left-navigation">Поперечная порезка<br>рулонов в листы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/prodolnaja/">
                    <button type="submit" class="btn btn-primary left-navigation">Продольная порезка<br>рулонов в листы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/pokritie/">
                    <button type="submit" class="btn btn-primary left-navigation">Покрытие защитной<br>пленкой</button>
                </form>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 10px;">
            <img src="{% static "images/poper2.png" %}" width="847" height="215">
            <br><br>
            <p class="discript-2">Технические детали поперечной порезки рулонов в листы</p>
            <br>
            <table class="table table-striped table-bordered table-description">
                <tr>
                    <td>Диапазон толщин</td>
                    <td>от 0,5 мм до 3,00 мм</td>
                </tr>
                <tr>
                    <td>Максимальная ширина</td>
                    <td>до 1540 мм</td>
                </tr>
                <tr>
                    <td>Минимальная длина листа</td>
                    <td>200 мм</td>
                </tr>
                <tr>
                    <td>Максимальная длина листа</td>
                    <td>6000 мм</td>
                </tr>
                <tr>
                    <td>Максимальный вес рулона</td>
                    <td>до 12,0 тн</td>
                </tr>
                <tr>
                    <td>Точность выполнения операции</td>
                    <td>+/- 1,00 мм</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}