{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
            <div class="btn-group">
                <form action="/uslugi/razmotka/">
                    <button type="submit" class="btn btn-primary left-navigation">Размотка рулонов</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/poperechnaja/">
                    <button type="submit" class="btn btn-primary left-navigation">Поперечная порезка<br>рулонов в листы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/prodolnaja/">
                    <button type="submit" class="btn btn-primary left-navigation">Продольная порезка<br>рулонов в листы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/pokritie/">
                    <button type="submit" class="btn btn-primary left-navigation">Покрытие защитной<br>пленкой</button>
                </form>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 10px;">
            <img src="{% static "images/prodol.png" %}" width="847" height="215">
            <br><br>
            <p>Данная операция подразумевает следующие операции:</p>
            <br>
            <ul>
                <li>разделка рулонов на более узкие рулоны</li>
                <li>обрезание кромки рулона</li>
                <li>порезка рулонов на ленты</li>
            </ul>
            <br>
            <p class="discript-2">Технические детали продольлной порезки рулонов (порезка лент)</p>
            <br>
            <table class="table table-striped table-bordered table-description">
                <tr>
                    <td>Диапазон толщин</td>
                    <td>от 0,5 мм до 3,00 мм</td>
                </tr>
                <tr>
                    <td>Максимальная ширина</td>
                    <td>до 1540 мм</td>
                </tr>
                <tr>
                    <td>Минимальная ширина ленты</td>
                    <td>от 10 мм</td>
                </tr>
                <tr>
                    <td>Внутренний диаметр рулона</td>
                    <td>508 / 610 мм</td>
                </tr>
                <tr>
                    <td>Максимальный внешний диаметр рулона</td>
                    <td>до 1840 мм</td>
                </tr>
                <tr>
                    <td>Максимальный вес рулона</td>
                    <td>до 12,0 тн</td>
                </tr>
                <tr>
                    <td>Точность выполнения операции </td>
                    <td>
                    <ul>
                        <li>обычная</li>
                        <li>повышенная (высокоточная)</li>
                        <li>специальная (согласно спецификации клиента)</li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td>Степень упрочнения</td>
                    <td>
                    <ul>
                        <li>мягкая</li>
                        <li>полутвердая</li>
                        <li>твердая</li>
                        <li>пружинная</li>
                    </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}