{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
            <div class="btn-group">
                <button type="button" class="btn btn-primary left-navigation">Нержавеющая сталь</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary left-navigation">Титан и никелевые <br>сплавы</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary left-navigation">Легированные и<br>специальные сплавы</button>
            </div>
        </div>
        <div class="col-md-9 description" style="margin-top: 10px">
            <p>
Нашим клиентам мы предлагаем широкий ассортимент продуктов: нержавеющий лист 1й сорт, нержавеющий лист 2й сорт, нержавеющий лист с поверхностью “зеркало” и “шлиф” (шлифованный лист), нержавеющая плита, нержавеющий рулон, нержавеющая лента, прецизионная лента, титан, титановый сплав, никелевые сплавы, нержавеющий круг (кованный круг, обточенный круг, тянутый круг),  нержавеющий квадрат, нержавеющий шестигранник, нержавеющая полоса, нержавеющий швеллер, нержавеющий двутавр, нержавеющий уголок, днища из стали нержавеющей, труба сварная, труба бесшовная, труба шлифованная, труба полированная, нержавеющие отводы.
<br><br>
Все вышеперечисленные продукты поставляются как в 1 сорте, так и во 2 сорте, в следующий марках стали:
<br><br>
– нержавеющая сталь: EN 1.4509, 1.4016, 1.4003, 1.4512, 1.4000, 1.4006, 1.4021, 1.4028, 1.4034, 1.4521, 1.4520
<br><br>
– кислотостойкая нержавейка: EN 1.4301, 1.4306, 1.4307, 1.4310, 1.4541, 1.4404, 1.4571
<br><br>
– жаропрочная нержавейка: EN 1.4539, 1.4828, 1.4841, 1.4845, 1.4833, 1.4878
<br><br>
– легированная сталь, специальная сталь, инструментальная сталь: 10H2M, 15HM, 12HMF, 13HMF, 15HM, 16M, 20H12M1F, 50HF, 50HS, 60S2, SK8M, SW7M, SK5M, SK10V, SK5V, 09G2S, 16HG, 18HGM, 34HNM, 36HNM, 50HF)
<br><br>
– титан, титановый сплав: Grade 1, Grade 2, Grade 4, Grade 5, Grade 6, Grade 7, Grade 11, Grade 16
<br><br>
– никелевый сплав (nickel alloy, inconel, incoloy): EN 2.4665, 2.4602, 2.4819, 2.4851, 2.4856, 2.4858, 2.4668, 2.4669, 1.4562, 1.4563, 1.4876
            </p>
        </div>
    </div>
</div>

{% endblock %}