{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
            <div class="btn-group">
                <form action="/uslugi/razmotka/">
                    <button type="submit" class="btn btn-primary left-navigation">Размотка рулонов</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/poperechnaja/">
                    <button type="submit" class="btn btn-primary left-navigation">Поперечная порезка<br>рулонов в листы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/prodolnaja/">
                    <button type="submit" class="btn btn-primary left-navigation">Продольная порезка<br>рулонов в листы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/uslugi/pokritie/">
                    <button type="submit" class="btn btn-primary left-navigation">Покрытие защитной<br>пленкой</button>
                </form>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 10px;">
            <img src="{% static "images/razm.png" %}" width="847" height="215">
            <br><br>
            <p class="discript-2">Технические детали перемотки рулонов</p>
            <br>
            <table class="table table-striped table-bordered table-description">
                <tr>
                    <td>Диапазон толщин</td>
                    <td>от 0,5 мм до 1,50 мм</td>
                </tr>
                <tr>
                    <td>Максимальная ширина</td>
                    <td>до 1540 мм</td>
                </tr>
                <tr>
                    <td>Внутренний диаметр рулона</td>
                    <td>508 / 610 мм</td>
                </tr>
                <tr>
                    <td>Максимальный вес рулона</td>
                    <td>12,0 тн</td>
                </tr>
                <tr>
                    <td>Минимальный вес перемотанного рулона</td>
                    <td>от 100 кг</td>
                </tr>
                <tr>
                    <td>Дополнительная информация</td>
                    <td>перемотка может быть выполнена с бумажной втулкой либо без нее</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}