{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}" xmlns="http://www.w3.org/1999/html">
<div class="container" style="margin-top: 50px">
Некоторые наши партнеры, с целью повышения экономической эффективности производства, используют в своем производственном процессе материал 2го сорта. Поэтому, стремясь повысить уровень сервиса, а также удовлетворять все потребности наших клиентов, мы также <strong>занимаемся поставками материала 2го сорта</strong>.
</div>
{% endblock %}