{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
            <div class="btn-group">
                <form action="/produkty/nerz/">
                    <button type="submit"  class="btn btn-primary left-navigation">Нержавеющая сталь</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/produkty/titan/">
                    <button type="submit" class="btn btn-primary left-navigation">Титан и никелевые <br>сплавы</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/produkty/legir/">
                    <button type="submit"  class="btn btn-primary left-navigation">Легированные и<br>специальные сплавы</button>
                </form>
            </div>
        </div>
        <div class="col-md-9 description" style="margin-top: 10px">
            <p>

<p style="text-align: justify;"><b><strong>STEEL PRO LTD</strong> </b>поставляет<b> титановые сплавы </b><strong>в виде</strong><b> плит, листов, рулонов, прутка, проволоки, труб </b>и прочее. Как правило, продукты из титана поставляются под заказ, в размерах и со свойствами согласно спецификации клиента.<br>
Поэтому просим вас связаться с нами для уточнения технических деталей и получения предложения на поставку титановой продукции.</p>
<p style="text-align: justify;"><b>Титан</b> от других металлов отличается наличием высоких механических свойств, хорошей коррозионной стойкостью, небольшой плотностью (относительно малым весом) и высокой удельной прочностью при 20—25 °С и криогенных температурах. Титановые сплавы по сравнению с титаном имеют более высокую прочность и жаропрочность при хорошей пластичности, высокой коррозионной стойкости и малой плотности.</p>
<p style="text-align: justify;"><b>Титановые сплавы</b> можно разделить на 3 группы:</p>
<p style="text-align: justify;">– Конструкционные и высокопрочные</p>
<p style="text-align: justify;">– Жаропрочные</p>
<p style="text-align: justify;">– Сплавы на основе химического соединения</p>
<table class="table table-striped table-bordered table-description">
<tbody>
<tr>
<td width="192"><b>Торговое название</b></td>
<td width="168"><b>ГОСТ</b></td>
<td width="120"><b>UNS</b></td>
</tr>
<tr>
<td width="192">Ti Grade 1</td>
<td width="168">ВТ1-00</td>
<td width="120">R50250</td>
</tr>
<tr>
<td width="192">Ti Grade 2</td>
<td width="168">ВТ1-0</td>
<td width="120">R50400</td>
</tr>
<tr>
<td width="192">Ti Grade 4</td>
<td width="168">–</td>
<td width="120">R50700</td>
</tr>
<tr>
<td width="192">Ti Grade 5 (6AL4V)</td>
<td width="168">ВТ6</td>
<td width="120">R56200</td>
</tr>
<tr>
<td width="192">Ti Grade 6 (5Al 2.5Sn)</td>
<td width="168">ВТ5-1</td>
<td width="120">R54520</td>
</tr>
<tr>
<td width="192">Ti Grade 7</td>
<td width="168">–</td>
<td width="120">R52400</td>
</tr>
<tr>
<td width="192">Ti Grade 11</td>
<td width="168">–</td>
<td width="120">–</td>
</tr>
<tr>
<td width="192">Ti Grade 16</td>
<td width="168">–</td>
<td width="120">–</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">
</p>
            </p>

        </div>
    </div>
</div>

{% endblock %}