{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<img src="{% static "images/bq.jpg" %}">
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3" >
            <div class="btn-group">
                <button type="button" class="btn btn-primary left-navigation">Размотка рулонов</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary left-navigation">Поперечная порезка<br>рулонов в листы</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary left-navigation">Продольная порезка<br>рулонов в листы</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary left-navigation">Покрытие защитной<br>пленкой</button>
            </div>
        </div>
        <div class="col-md-9">
            <p class="discript-2">
                Фирма STEEL PRO LTD предлагает широкий спектр услуг по обработке<br>металлопроката.
            </p>
            <img src="{% static "images/usl1.png" %}" width="847" height="215">
            <br>
            <p class="discript-2">
                <br>Ниже приведены общие технические характеристики обрабатываемого материала:<br><br>
            </p>
            <table class="table table-striped table-bordered table-description">
                <tr>
                    <td>Толщина проката</td>
                    <td>от 0,5 мм до 3,00 мм</td>
                </tr>
                <tr>
                    <td>Максимальная ширина рулона</td>
                    <td>1540 мм</td>
                </tr>
                <tr>
                    <td>Минимальная ширина рулона</td>
                    <td>50,0 мм</td>
                </tr>
                <tr>
                    <td>Максимальный вес рулона</td>
                    <td>12,0 тн</td>
                </tr>
                <tr>
                    <td>Внутренний диаметр рулона</td>
                    <td>508/610 мм</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}